@import "tailwindcss";

@theme {
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-surface-dark: #1e1e2f;
  --color-background-dark: #12121e;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
  
  .dark {
    --background: #12121e;
    --foreground: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
